@font-face {
    font-family: 'Poppins';
    src: url(Poppins-ExtraBold.ttf);
}

body{
    background-color: #131316;
    color: #ffffff;
    font-family: "Poppins";
    
}


a{
    text-decoration: none;
    
}

/** Tarjetas Restaurante **/

.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

.column-2.carta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.plato-carta{
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.precio-carta{
    transition-delay: 20ms;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}


.title-plato-carta{
    border: 3px dotted antiquewhite;
    flex-basis: 90%;
    border-right: none;
    padding: 0 1rem;
}

.precio-plato{
    display: flex;
    flex-basis: 20%;
    border: 3px dotted antiquewhite;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.precio-carta1{
    
    border: 3px dotted antiquewhite;
    flex-basis: 100%;
    
}

.title-plato-carta12{
    
    padding: 0 1rem;
}

.hidden{
    opacity: 0;
    transition-delay: 20ms;
    filter: blur(3px);
    transform: translateX(-10%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.precio-carta2{
    transition-delay: 15ms;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.precio-carta3{
    transition-delay: 10ms;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.precio-carta4{
    transition-delay: 5ms;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}



@media(prefers-reduce-motion){
    .hidden{
        transition: none;
    }
}

@media(max-width:680px){
    .column-2.carta{
        grid-template-columns: repeat(1,1fr);
      }
}


